// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.h-divider{
	 margin-top:25px;
	 margin-bottom: 5px;
	 height:1px;
	 width: 10%;
	 border-top:1px solid gray;
	 display: inline-block;
}
.h-or{
	margin-top: 15px;
	margin-bottom:25px;
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	margin-right: 10px; 
}


.input {
	border-radius: 5px;
	border: 2px solid lightgrey;
}

.btn {
	margin-left: 10px;
}

td {
    padding: 10px !important;
    text-align: left;
}